.navbar-brand .navbar-item {
  font-family: "Rock Salt", cursive;
}

#halfmoon {
  font-family: "Rock Salt", cursive;
}
section {
  &.full-height {
    height: calc(100vh - 5rem);
  }

  &#intro {
    margin-top: 5rem;
    background-color: #3f3f5e;
  }

  &.spaced-page {
    padding-top: 8rem;
  }
}
